<div class="base-container container" id="send-money-container" style="display: block;">
    <main id="main">
    <div class="py-5 text-center deal-form">
        <h2>Wait For Confirmation</h2>
    </div>

    <div class="row g-5 deal-details">
        <div class="col-md-7">
        <h4 class="mb-3">Deal details</h4>
        <div class="form-check">
            <label class="form-check-label" for="switchRole">My Role: </label>
            <div class="container-sm">
                <label
                    class="btn btn-outline-secondary"
                    for="role-in-deal"
                >{{role}}</label>
            </div>
            <div class="row g-3">
            <div class="col-12">
                <label for="deal-seller" class="form-label" id="deal-seller-label">Seller address</label>
                <p
                class="form-control text-container"
                id="deal-seller"
                >{{seller}}</p>
            </div>

             <div class="col-12">
                <label for="deal-buyer" class="form-label" id="deal-buyer-label">Buyer address</label>
                <p
                class="form-control text-container"
                id="deal-buyer"
                >{{buyer}}</p>
            </div>

            <div class="col-9">
                <label for="transaction-amount" class="form-label">Value</label>
                <p
                class="form-control text-container transaction-value"
                id="transaction-amount"
                >{{value}}</p>
            </div>

            <div class="col-3">
                <label for="unit" class="form-label">Unit</label>
                <p
                class="form-control text-container ether-unit"
                id="unit"
                >{{unit}}</p>
            </div>

            <div style="display: none;">
                <span id="deal-txid">{{txid}}</span>
                <span id="deal-id">{{id}}</span>
            </div>
            </div>

            <hr class="my-4" />
            <h5 class="mb-3 mt-3">Fee payment: <span  class="fee">{{fee}}</span></h5>
            <hr class="my-4" />
            <button
            class="w-100 btn btn-primary btn-lg"
            id="change-deal-step"
            >Change</button>
            <button
            class="w-100 btn btn-primary btn-lg"
            id="next-deal-step"
            >Next Step</button>
        </div>
        </div>
        <div class="col-md-5">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">History</span>
        </h4>

        <ul class="list-group mb-3" id="history-list">
            <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="history-div">
                <h6
                class="text-container my-0"
                >0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266</h6>
                <small class="text-muted">pending</small>
            </div>
            <span class="text-muted">0.1 ETH</span>
            </li>
            <li
            class="list-group-item d-flex justify-content-between bg-light"
            >
            <div class="history-div text-success">
                <h6
                class="text-container my-0"
                >0x70997970C51812dc3A010C7d01b50e0d17dc79C8</h6>
                <small class="text-muted">1 day ago</small>
            </div>
            <span class="text-success">0.005 ETH</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
            <span>Total (ETH)</span>
            <strong>0.105 ETH</strong>
            </li>
        </ul>

        <form class="card p-2" id="tmp">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Address" />
            <button type="submit" class="btn btn-secondary">Filter</button>
            </div>
        </form>

        <button
            id="answerCreate-btn"
            class="w-100 btn btn-primary btn-lg"
        >Update history</button>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div
            id="liveToast"
            class="toast"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            >
            <div class="toast-body">
                <div
                class="alert alert-success toast-body-div"
                role="alert"
                id="toast-msg"
                >
                </div>
            </div>
            </div>
        </div>
    </div>
    </main>
</div>