<div>
  <h4 class="mb-3">{{title}}</h4>
  <div class="form-check">
    <label class="form-check-label" for="switchRole">My Role: </label>
    <div class="container-sm">
      <input type="radio" class="btn-check" name="options-outlined" id="buyer-role" autocomplete="off" {{buyerCheck}} />
      <label class="btn btn-outline-primary" for="buyer-role">Buyer</label>

      <input type="radio" class="btn-check" name="options-outlined" id="seller-role" autocomplete="off"
        {{sellerCheck}} />
      <label class="btn btn-outline-primary" for="seller-role">Seller</label>
    </div>

    <div class="col-xl-6 div-address">
      <p id="address">My Address:
        <span id="show-account"><button id="connectButton" type="button" class="btn btn-primary"
            disabled>Connect</button></span>
      </p>
    </div>

  </div>
  <form class="needs-validation" novalidate id="create-deal-btn">
    <div class="row g-3">
      <div class="col-12">
        <label for="deal-partner" class="form-label" id="deal-partner-label">Seller address</label>
        <input type="text" name="buyer" class="form-control text-container" id="deal-partner"
          placeholder="{{role}} address" value="{{partner}}" required />
        <div class="invalid-feedback">
          Valid buyer address is required.
        </div>
      </div>

      <div class="col-9">
        <label for="value" class="form-label">Value</label>
        <input type="text" name="value" class="form-control text-container" id="transaction-amount" placeholder="value"
          value="{{value}}" required />
        <div class="invalid-feedback">
          Valid value is required.
        </div>
      </div>

      <div class="col-3">
        <label for="unit" class="form-label">Unit</label>
        <select class="form-select" id="ether-unit" required>
          <option {{weiSelected}}>Wei</option>
          <option {{gweiSelected}}>Gwei</option>
          <option {{etherSelected}}>Ether</option>
          <option {{usdSelected}}>USD</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid unit.
        </div>
      </div>

      <div style="display: none;">
        <span id="deal-txid">{{txid}}</span>
        <span id="deal-id">{{id}}</span>
      </div>
    </div>

    <hr class="my-4" />

    <button type="button" class="btn btn-primary" id="liveToastBtn">Calculate fee</button>
    <h5 class="mb-3 mt-3">Fee payment:
            <span class="fee">{{fee}}</span></h5>

          <div id="fee-container" class="container-sm">
            <input
              type="radio"
              class="btn-check"
              id="discount"
              name="options-outlined"
              autocomplete="off"
              checked
            />
            <label class="btn btn-outline-secondary" for="discount">50/50</label>

            <input
              type="radio"
              class="btn-check"
              id="fee-role-buyer"
              name="options-outlined"
              autocomplete="off"
            />
            <label class="btn btn-outline-secondary fee-buyer" for="fee-role-buyer">Buyer</label>

            <input
              type="radio"
              class="btn-check"
              id="fee-role-seller"
              name="options-outlined"
              autocomplete="off"
            />
            <label class="btn btn-outline-secondary fee-seller" for="fee-role-seller">Seller</label>
          </div>

    <hr class="my-4" />

    <button class="w-100 btn btn-primary btn-lg" type="submit">{{btnName}}</button>
  </form>
</div>