<div>
    <h4 class="mb-3">{{title}}</h4>
    <div class="form-check">
        <h5 class="mb-3 mt-3">Завершенных сделок: <span id="done_deals">{{done_deals}}</span></h5>
        <h5 class="mb-3 mt-3">На сумму: <span id="user_total_amount">{{user_now_amount}} ETH</span></h5>

        <hr class="my-4" />
        <h5 class="mb-3 mt-3">Открыто сделок: <span id="total_deals_count">{{total_deals_count}}</span></h5>
        <h5 class="mb-3 mt-3">На сумму: <span id="user_now_amount">{{user_total_amount}} ETH</span></h5>
    </div>
</div>