<div>
    <h4 class="mb-3">{{title}}</h4>
    <div class="form-check">
        <label class="form-check-label" for="switchRole">My Role: </label>
        <div class="container-sm">
            <label class="btn btn-outline-secondary" for="role-in-deal">{{role}}</label>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label for="deal-seller" class="form-label" id="deal-seller-label">Seller address</label>
                <p class="form-control text-container" id="deal-seller">{{seller}}</p>
            </div>

            <div class="col-12">
                <label for="deal-buyer" class="form-label" id="deal-buyer-label">Buyer address</label>
                <p class="form-control text-container" id="deal-buyer">{{buyer}}</p>
            </div>

            <div class="col-9">
                <label for="transaction-amount" class="form-label">Value</label>
                <p class="form-control text-container transaction-value" id="transaction-amount">{{value}}</p>
            </div>

            <div class="col-3">
                <label for="unit" class="form-label">Unit</label>
                <p class="form-control text-container ether-unit" id="unit">{{unit}}</p>
            </div>

            <div style="display: none;">
                <span id="deal-txid">{{txid}}</span>
                <span id="deal-id">{{id}}</span>
                <span id="deal-status">{{status}}</span>
            </div>
        </div>

        <hr class="my-4" />
        <h5 class="mb-3 mt-3">Fee payment: <span class="fee">{{status}}</span></h5>
        <hr class="my-4" />
        {{#if change}}
            <button class="w-100 btn btn-primary btn-lg" id="change-deal-step">Change</button>
        {{/if}}
        {{#if notEnd}}
        {{#if showNextButton}}
            <button class="w-100 btn btn-primary btn-lg" id="next-deal-step">{{btnName}}</button>
        {{else}}
            <h6>Waiting for your partner</h6>
        {{/if}}
        {{/if}}
    </div>
</div>